body {
    background: linear-gradient(-45deg, rgb(4, 255, 171), pink, rgb(233, 17, 117)) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}